<?xml version="1.0" encoding="utf-8"?>
<!-- Combination 2: C++ publisher to C++ subscriber -->
<launch>
	<!-- Run publisher -->
	<node pkg="performance_tests" type="cppPublisher" name="cppPublisher">
		<param name="publish_frequency" type="double" value="2200.0"/>
	</node>
	<!-- Run subscriber -->
	<node pkg="performance_tests" type="cppSubscriber" name="cppSubscriber"/>
</launch>
