<?xml version="1.0" encoding="utf-8"?>
<!-- Combination 3: C++ publisher to Python subscriber -->
<launch>
	<!-- Run publisher -->
	<node pkg="performance_tests" type="cppPublisher" name="cppPublisher">
		<param name="publish_frequency" type="double" value="10.0"/>
	</node>
	<!-- Run subscriber -->
	<node pkg="performance_tests" type="pySubscriber.py" name="pySubscriber"/>
</launch>
