<?xml version="1.0" encoding="utf-8"?>
<!-- Combination 3: Python publisher to Python subscriber -->
<launch>
	<!-- Run publisher -->
	<node pkg="performance_tests" type="pyPublisher.py" name="pyPublisher">
		<param name="publish_frequency" type="int" value="10"/>
	</node>

	<!-- Run subscriber -->
	<node pkg="performance_tests" type="pySubscriber.py" name="pySubscriber"/>
</launch>
